.desempenho-container {
    padding: 30px 12%;
    background-color: #f7f9fc;
}

.desempenho-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    color: var(--color-texto-escuro);
}

.title-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #ffc72c; 
}

.desempenho-content-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 25px;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
}

.desempenho-filters {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    margin-bottom: 40px;
}

.filter-group {
    display: flex;
    flex-direction: column;
}

.filter-label {
    font-size: 1.1rem;
    color: var(--color-texto-escuro);
    margin-bottom: 5px;
}

.filter-dropdown-button {
    padding: 8px 12px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 14px;
    color: var( --color-texto-cinza);
    cursor: pointer;
    text-align: left;
    min-width: 150px;
}

.update-button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background-color: var(--color-azul-secundario);
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.chart-legend-area {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 20px 0;
}

.chart-wrapper {
    position: relative;
    width: 250px; 
    height: 250px;
    flex-shrink: 0; 
}

.donut-chart-simulation {
    position: relative;
    width: 100%;
    height: 100%;
}

.donut-circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 0.5px solid #777777;
    background: conic-gradient(
        #3682be 0% 30%, 
        #FFC72C 30% 65%, 
        #0A436D 65% 90%, 
        #D2E9FF 90% 100% 
    );
    box-shadow: 0 0 0 45px #fff inset;
}

.percent-37, .percent-41, .percent-30, .percent-18 {
    position: absolute;
    font-weight: 600;
    color: var(--color-texto-escuro);
}

.percent-37 { top: -30px; right: 150px; }
.percent-41 { top: 120px; left: -50px; }
.percent-30 { bottom: -35px; left: 120px; }
.percent-18 { bottom: 150px; right: -40px; }


.legend-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 200px;
    flex-shrink: 0;
}

.desempenho-legend-item {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.legend-color-box {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    margin-right: 10px;
}

.last-update-footer {
    margin-top: 20px;
    font-size: 13px;
    color: var(--color-text-light);
}